table.tests {
    border-collapse: collapse;
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: 100%;
}
table.tests tr {
    border: 1px solid rgba(128, 128, 128, 0.5);
}
table.tests th, table.tests td {
    text-align: left;
    padding: 0.5em;
}
table.tests th {
    background-color: rgba(237, 190, 88, 0.5);
}
.tests .error {
    background-color: rgba(255, 0, 0, 0.5);
}
.tests .success {
    background-color: rgba(0, 255, 0, 0.125);
}
.tests .stack {
    opacity: 0.75;
    font-family: 'Menlo', 'Courier New', Courier, monospace;
    font-size: 0.75em;
    margin-top: 0.5em;
}
